@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}

@media screen and (min-width : 600px) {

	body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	background-image: url('../img/home/bg-login.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	}
	/*
	body:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		background: white;
		opacity: 0.8;

	}
	*/
	.login{
		position: absolute;
		/*background: #5DBCD2;*/
		background: white;
		top: 2%;
		left: 50%;
		width: 400px;
		height: 95%;
		/*transform: translate(-50%, -50%);*/
		box-shadow: 0px 15px 50px rgba(0,0,0,0.5);
		padding: 50px;
		box-sizing: border-box;
	}

	.login form{
		top: 20%;
		position: relative;
	}

	.input-box{
		margin: 20px 0;
	}

	button.input-box{
		width: 100%;
		padding: 7px;
		border-color: #5DBCD2;
		background: #5DBCD2;
		border: 0px solid transparent;
		border-radius: 2px;
		color: white;
		font-weight: bold;
		transition: .2s;
	}

	button.input-box:hover{
		background: #3897f0;
	}

	input{
		font-size: 15px;
		border: none;
		border-bottom: 2px solid #777;
		outline: 0;
		padding: 10px;
		box-sizing: border-box;
		font-weight: ;
	}

	input:focus,
	input:valid{
		border-bottom: 2px solid #5DBCD2;
	}

	input:invalid{
		border-bottom: 2px solid #777;
	}

}
.done{
	border-bottom: 2px solid #5DCF42 !important;
}
.fail{
	border-bottom: 2px solid #C71E2E !important;
}

.forgot{
	color: #777 !important;
	font-weight: ;
}	

.head{
	font-weight: bold;
}


