.cnavbar{
	top: 0;
	position: -webkit-sticky;
	display: flex;
	position: sticky;
	margin: 0;
	padding: 10px 10px;
	justify-content: space-between;
  	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgb(26, 128, 127,0.9);;
}

.logo{
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
}

.col{
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.col-md{
	padding-left: 25px;
	padding-right: 20px;
}

.container{
	padding-top: 15px;
	padding-left: 300px;
}

.img{
	 max-width: 170px; 
	 max-height: 170px;
}

.field-wel{
	background-color: white;
	min-width: 20px;
    max-width: 250px;
    min-height: 20px;
    border-radius: 9px;
    margin-top: 15px;
    padding-top:3px;
    padding-bottom: 1px;
    font-family: "Calibri", Times, sans-serif;
    box-shadow: 0.5px 0.5px 0.5px 0.5px #778899;
}

.icon{
	max-width: 25px; 
	max-height: 25px;
	margin-top: 130px;
	margin-left: -20px;
}

button.input-box{
		width: 200px;
		height: 30px;
		border-color: #5DBCD2;
		background: #eff3f6;
		border: 1px solid rgba(27,31,35,.2);
		border-radius: .25em;
		color: #24292e;
		font-weight: bold;
		font-family: inherit;
		transition: .2s;
		margin-top: -100px;
		margin-left: 130px;
		background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
}